* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: yellow;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.surroundings {
  background-color: white;
  width: 500px;
  height: 380px;
  position: relative;
}

.box {
  top: 10px;
  left: 10px;
  width: 400px;
  height: 300px;
  background-color: green;
  position: absolute;
}

.box2 {
  width: 400px;
  height: 2000px;
  background-color: green;
}
